@let number = operandBlocks().length;

@if (!number) {
  <img src="assets/0.png" />
} @else {
  <div class="top-number">
    <p>{{ number }}</p>
  </div>
  <div class="wrapper">
    @for (block of operandBlocks(); track block) {
      @let isSeven = number === 7;
      @let color = colorBlocksMap[isSeven ? number - $index : number];
      @let isBlockRightUnderHead = $index === 1 || number === 1;

      <div
        [style.position]="isBlockRightUnderHead ? 'relative' : undefined"
        style="overflow: visible !important; clip-path: none"
      >
        <color-block
          [color]="color"
          [indexInGroup]="$index"
          [lastIndexInGroup]="number - $index === 1"
          [blockGroupSize]="number"
          [image]="$index === 0 ? 'assets/' + number + '.png' : ''"
        />
        @if (isBlockRightUnderHead) {
          <div
            class="left arm"
            [class.short]="number < 4"
            [class.short-left]="number < 4"
            [style.background-color]="color"
          ></div>
          <div
            class="right arm"
            [class.short]="number < 4"
            [class.short-right]="number < 4"
            [style.background-color]="color"
          ></div>
        }
      </div>
    }
  </div>
  <div class="feet">
    @let footColor = colorBlocksMap[number];

    <div
      class="foot"
      [style.background-color]="footColor"
    ></div>
    <div
      class="foot"
      [style.background-color]="footColor"
    ></div>
  </div>
}
