@let doesZeroExist = operandOne() === 0 || operandTwo() === 0;

<div class="main-container">
  <div class="inner-wrapper">
    <blocks-group
      [operand]="operandOne()"
      [isOneOfTheOperandsZero]="doesZeroExist"
    />
    <p class="operator">
      {{ operator() }}
    </p>
    <blocks-group
      [operand]="operandTwo()"
      [isOneOfTheOperandsZero]="doesZeroExist"
    />
  </div>
  <div class="input-container">
    <p-inputNumber
      [(ngModel)]="userAnswer"
      (keydown.enter)="submit()"
      #numberInput
    />
    <p-button
      label="Submit"
      size="large"
      (onClick)="submit()"
    />
  </div>
</div>

<score-board [score]="score()" />

<answer-popup />
