.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  .inner-wrapper {
    gap: 10rem;
    display: flex;
    align-items: flex-end;

    .operator {
      font-size: 10rem;
      align-self: center;
    }
  }

  .input-container {
    display: flex;
    gap: 1rem;
  }
}

:host::ng-deep .p-inputnumber input {
  font-weight: bold;
  font-size: 1.5rem;
  width: 300px;
  height: 44px;
}
