@use "styles/vars" as *;

@font-face {
  font-family: "Kronika";
  src: url("assets/KRONIKA_.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Kronika";
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  background-color: $background;
}
